{% extends 'base.html' %}

{% block app_content %}
	<form action="" method="POST">
		{% if test %}
		{% if test.percent %}
		<h1 style="color: green;">{{test.percent}}</h1>
		{% endif %}
		<h1>{{ test.name }}</h1>
		{% if test.questions %}
		{% for question in test.questions %}
		<div>
			<p>{{ question.blurb }}</p>
			{% for answer in question.answers %}
			<input type="radio" name="question{{question.id}}" id="question_{{question.id}}" value="{{answer}}"{% if question.selected == answer %} checked{% endif %} />
			<label for="question{{question.id}}">{{ answer }}</label><br/>
			{% endfor %}
		</div>
		<hr/>
		{% endfor %}
		{% endif %}
		{% endif %}
		<p><input type="submit" value="Submit" /></p>
	</form>
{% endblock %}
