{% extends 'base.html' %}

{% block app_content %}
	<div class="index-logo" style="float: right;">
		<img src="{{ url_for('static', filename='images/gcre_logo.png') }}" alt="Greater Calgary Real Estate Logo" width="250" />
	</div>
	<h4>This month our company mandatory review and quiz is on:</h4><br/>
	<ul>
		<li><a href="https://d15cz6njn0r035.cloudfront.net/The+National+Do-Not-Call+List+Greater+Calgary+Policy.pdf">The National Do Not Call List.</a></li>
	</ul><br/><br/>
	<h4><b><a href="/register">Register</a></b> and <b><a href="/login?next=%2Ftests">Login</a></b> to take the test</h4>
{% endblock %}
